.header {
	background-color: #fff;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 2;
	padding: 7px 0 0;
	@include bp-small {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(255,255,255,0.85);
		padding: 15px 0 6px;
	}
	.container {
		padding: 0 15px 0 8px;
	}
}

.logo {
	display: inline-block;
	img {
		width: 120px;
		@include bp-small {
			float: left;
			width: 178px;
		}
	}
}

.menu-button {
	display: block;
	width: 30px;
	height: 22px;
	position: absolute;
	right: 15px;
	top: 12px;
	cursor: pointer;
	@include bp-small {
		display: none;
	}
	.line {
		width: 30px;
		height: 3px;
		background: #3b3b3b;
		display: block;
	}
	.top {
		position: absolute;
		top: 0;
		transition: .25s all;
	}
	.mid {
		position: absolute;
		top: 9px;
		right: 0;
		transition: .15s all;
	}
	.bottom {
		position: absolute;
		top: 18px;
		transition: .25s all;
	}
	&.open {
		.top {
			transform: translate3d(0,9px,0px) rotateZ(-45deg);
		}
		.mid {
			opacity: 0;
			transform: translate3d(-45px,0,0);
		}
		.bottom {
			transform: translate3d(0,-9px,0px) rotateZ(45deg);
		}
	}
}

.main-menu {
	display: none;
	position: absolute;
	top: 44px;
	left: 0;
	background-color: #333;
	width: 100%;
	@include bp-small {
		float: right;
		width: 70%;
		text-align: right;
		padding-top: 10px;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li {
		margin: 0;
		display: inline;
		@include bp-small {
			&:after {
				content: ' |';
			}
			&:last-child {
				&:after {
					content: '';
				}
			}
		}
	}
	a {
		display: block;
		padding: 10px 15px;
		border-top: 1px solid #4d4d4d;
		border-bottom: 1px solid #1a1a1a;
		color: #fff;
		text-decoration: none;
		font-weight: normal;
		text-transform: uppercase;
		position: relative;
		@include bp-small {
			text-transform: none;
			padding: 2px 0px;
			margin: 0 5px;
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				height: 2px;
				background-color: #999;
				width: 0px;
				transition: width 0.3s ease;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
	@include bp-small {
		display: block !important;
		position: relative;
		background-color: transparent;
		top: 0;
		float: right;
		a {
			display: inline-block;
			border: none;
			color: #222;
		}
	}
}