/////////////////////////////
///****** VARIABLES ******///
/////////////////////////////

// BREAKPOINT SIZES //
$lg_bp: 1200px;
$md_bp: 940px;
$sm_bp: 768px;
$xs_bp: 480px;

// FONT SIZES //
$base_font: 14;
$heading_1_font: 30;
$heading_2_font: 27;
$heading_3_font: 22;

// FONT FAMILIES //
$primary_family: "Lato";

// SITE COLORS //
$text_color: #3b3b3b;
$link_color: #1c89c7;
$profile_border: #333;
$footer_color: #ff5371;